<div class='about'>
	<section class="tab" ng-controller="TabController as tab"> 
       <ul class="nav nav-pills">
          <li ng-class="{active: tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Education</a></li>
          <li ng-class="{active: tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Interests</a></li>
           <li ng-class="{active: tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Description</a></li>
        </ul>
       	<div class='education' ng-show="tab.isSet(1)"> 		     	
        		<div class='graduate'>
        			<img ng-src='./imgs/ut/logo1.png'>
        		</div>
        		
        		<div class='pull-left'>
        			<img ng-src='./imgs/ut/me.jpg'>
        		</div>
        		
        		<div class='major'>
        			<div class='photos'>
        				<img ng-src='./imgs/ut/rb1.jpg'>
        				<img ng-src='./imgs/ut/ba.jpg'>
        				<img ng-src='./imgs/ut/rb.jpg'> 
        				<img ng-src='./imgs/ut/union.jpg'>
        			</div>
        			<div class='pull-right say'>
        				<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2014.11.17, I Graduate form University of Toronto.
        				I was majoring <strong>Computer science and Statistics</strong>.
        				Before I went here, I heard a lot of things about 'UT' that is so difficult to graduate.
        				But, those things made me more want to be one member of UT, because There will be 'THE PLACE' where may change my life.
        				It was a challenge that most of people around me told me that I'm not gonna success, and they are wrong! I made it, because I wanted it,
        				 and I believed I can do it, and I did it!
        				</p>
        				
        			</div>
        		</div>       	
        </div> 
        <div class='hobby'  ng-show="tab.isSet(2)">
        	<div class='head-part'>
        		<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sometimes, I want to try something new, something meaningful and healthy.
        		I like traveling, camping, working out, different kind of group activities(like paint ball) and sports(basket ball, baseball, golf and Judo). Alse, I like some vedio games too.
        		</p>
        	</div>
        	<div class='skydiving pull-left'>
        		<div class='photos'>
        			<img ng-src='./imgs/me/sky.jpg'>
        			<img ng-src='./imgs/me/sky1.jpg'>
        			<img ng-src='./imgs/me/sky2.jpg'>
        			<img ng-src='./imgs/me/sky3.jpg'>
        			<img ng-src='./imgs/me/sky5.jpg'>
        			<img ng-src='./imgs/me/sky6.jpg'>
        		</div>
        		<div class='pic-description'>
        			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp These 60sec might be the most excited, incentive and awesome moment! But, once is enough for me lol. I still can 
        			remember the thrill while I made a phone call to my parents right before I jump into the flight.</p>
        		</div>
        	</div>
        	<div class='Cuba pull-left'>
        		<div class='photos'>
        			<img ng-src='./imgs/me/cuba.jpg'>
        			<img class='rotate-needed' ng-src='./imgs/me/cuba1.jpg'>
        			<img ng-src='./imgs/me/cuba2.jpg'>
        			<img class='rotate-needed' ng-src='./imgs/me/cuba3.jpg'>
        			<img class='rotate-needed' ng-src='./imgs/me/cuba5.jpg'>
        			<img class='rotate-needed' ng-src='./imgs/me/cuba6.jpg'>
        		</div>
        		<div class='pic-description'>
        			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Cuba!!! That winter is the best winter I had since I came to Toronto! Free wines, beautiful beach and tasty food! I'm going there again someday!</p>
        		</div>
        	</div>
        	<div class='other pull-left'>
        		<div class='photos'>    			
        			<img ng-src='./imgs/me/other1.jpg'>
        			<img ng-src='./imgs/me/other2.jpg'>
        			<img ng-src='./imgs/me/other5.jpg'>
        			<img ng-src='./imgs/me/other.jpg'>
        			<img ng-src='./imgs/me/nba-2k15.jpg'>   
        			<img ng-src='./imgs/me/goodlife.jpeg'>
        		</div>
        		<div class='pic-description'>
        			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp I love different kind of exersizes and group activities. traveling, play paint ball with some strategy and group work(shot right on the head! LOL). For me, team work is important, it doubles the happiness and make things easier.
        			After the game, we can sit together joking something, laugh, eat pizza... You won't regret!
        			Of course, for those activities, I need to make my body strong, fast and healthy, so I get a GoodLife membership and work out, the strong guys in the photo are the trainer who are my close friends.
        			I love my life, and I always believe that I will be better!</p>
        		</div>
        	</div>
        </div>
        <div class='description' ng-show="tab.isSet(3)">
        	<h1>What kind of Person is Joe?</h1>
        	<div class='philosophy'>
        	<p></p>
        	</div>
        	<div class='summary'>
        		<h3>Personal Summary</h3>
        		<p></p>
        	</div>
       	</div>
	</section>
	
</div>     		 