<div class='home'>
	<h1>Hello! How are you Today!</h1>
	
	
	<div class='coverletter'>
		<p> 
		Do you want a <span class='keywords'>high-educated</span> employee who can familiar with multiple program languages 
		<span>(Java, JavaScript, HTML/CSS/PHP, Python, C/C++, SAS, R etc.)</span>
		 and who has <span class='keywords'>Bachelor</span> degree on Computer science and Statistics <span class='keywords'>Double Major</span> from <span class='keywords'><a ng-href='http://www.utoronto.ca'>University of Toronto</a></span> to work for your company? 
		 <span class='keywords'>Please <a ng-href='./#/contact'>Contact</a> me.</span>
		<br><span class='keywords'>Why?</span> I'm young, potential, passion on work, 
		and I can speak <span class='keywords'>THREE</span> different languages, which are <span class='keywords'>English, Chinese and Korean!!!</span><br>
		I believe that <span class='keywords'>you won't regret</span> for giving me a chance to work for you. 
		Please let me know if you have any questions or would like 
		any more information about my qualifications, and please consider it in positive way.
		I look forward to hearing from you. Thanks very much for your time.
		<br><span class='keywords'>Best regards!!!</span>
		</p>
	</div>
	
	<div class='intro'>
		<p><span class='keysen'> Money is not that important to me, yet. The Most important for me is earn experience and contribute to company!</span>
		</p>
		<p> You will learn a lot about by this Site.
		In about me section, it shows my education, interests and summary of my personalities and some philosophy.
		Skills section shows my technical skills.
		My work experience will be updated in the Experience Section.</p>
		<p>Please Contact me and give me a chance to be an employee of your company! My contact information is in <a ng-href='./#/contact'>Contact</a> section.</p>
	</div>
</div>	
	