<div class='skills'>
	<div class='pro-lang'>
		<p><strong>Programming Languages:</strong><br>
		 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Java, JavaScript(JQuery, AJAX), Python, HTML/HTML5/CSS, PHP,
C/C++, SQL, SAS, R, etc.</p>
	</div>
	<div class='tool'>
		<p><strong>Development Tools/System:</strong><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Eclipse, Sublime, Wing IDE, etc.</p>
	</div>
	<div class='frame'>
		<p><strong>Frameworks:<br> </strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp AngularJs, NodeJs</p>
	</div>
	<div class='lang'>
		<p><strong>Language:</strong><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp English, Chinese and Korean.<p>
	</div>
</div>     		 