
body{
	background-image: url("../imgs/bg_imgs/bg20.jpg");
	background-position: center;
	background-repeat: no-repeat;
	
}
main{
	border: 1px solid black;
	width: 1600px;
	height: 800px;
	margin: auto;
	overflow-x: hidden;
 	overflow-y: auto;
}
header{
	margin: 0px;
	padding: 20px;
	width:1600px;
	height:100px;
	text-align: center;
	color: #008040;
}
ul {
	list-style-type: none;
}
.box {
	overflow-x: hidden;
 	overflow-y: auto;
}

.main.box {
	background: rgba(10,10,200,0.2);
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	left: 0px;
}

.home {
	padding: 30px;
	background-image: url("../imgs/bg_imgs/bg14.jpg");
	background-repeat: repeat-y;
	width: 1600px;
	height: 800px;	
}
.home h1{
	margin-left: 20px;
	color: #000080;
	width: 500px;
	height: 50px;
}

.intro {
	font-style: italic;
	font-size: 20px;
	width: 500px;
	height: 500px;
	float: left;
	position: relative;
	background: rgba(12,12,12,0.9);
	padding: 10px;
	width: 700px;
	height: 400px;
	color: #0080ff;
	font-size: 15px;
}
.intro a {
	color: red;
}
.coverletter {
	font-style: italic;
	font-size: 20px;
	width: 500px;
	height: 500px;
	padding: 10px;
	margin-right: 100px;
	float: left;
	background: rgba(220,220,0,0.3);
	padding: 10px;
	width: 700px;
	height: 650px;
	color: #400040;
	font-size: 20px;
}
.home span{
	font-size: 15px;
	color: red;
} 
.home .keywords {
	font-size: 35px;
	color: black;
}
.techinclude {
	
}
.about {
	padding: 1px;
	background: rgba(100,110,110,0.3);
	background-repeat: repeat;	
	width: 1600px;
	height: 850px;
}
.education{
	padding: 30px;
	background-image: url("../imgs/bg_imgs/bg16.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.education .pull-left img{
	width: 300px;
	height: 400px;
}
.education .graduate{
	width: 600px;
	height: 200px;
}
.education .graduate img{
	top: -50px;
	width: 600px;
	height: 200px;
	float: left;
}
.education .major {	
	right: 10px;
	top: 50px;
	float: left;
}
.education .major .photos {
	width: 450px;
	height: 450px;
	position: relative;
	float: left;
}
.education img{
	width: 200px;
	height: 200px;
	float: left;
	position: relative;
}
.education .major .say{
	background: rgba(12,12,12,0.9);
	padding: 10px;
	width: 700px;
	height: 400px;
	color: #0080ff;
	font-size: 15px;
}

.hobby {
	padding: 10px;
	background-image: url("../imgs/bg_imgs/bg19.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.hobby .head-part {
	height: 70px;
	width: 1500px;
	color: black;
	font-size: 20px;
}
.hobby .skidiving {
	width: 500px;
	height: 700px;
	position: relative;
	float: left;
}
.hobby .cuba {
	float: left;
	width: 500px;
	height: 700px;
	float: left;
}
.hobby .cuba .rotate-needed {
	transform: rotate(90deg);
}
.hobby .photos {
	width: 450px;
	height: 600px;
}
.hobby img {
	width: 200px;
	height: 200px;
	
}
.hobby .other .photos {
	width: 650px;
	height: 400px;
}

.rotate-needed {
	transform: rotate(90deg);
}
.hobby .pic-description {
	margin-top: 10px;
	padding: 10px;
	height: 100px;
	width: 400px;
	background: rgba(0,0,200,0.3);
}

.hobby .other .pic-description {
	
	height: 300px;
	width: 610px;
	
}

.description {
	padding: 30px;
	background-image: url("../imgs/bg_imgs/bg_z1.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.description h1{
	color: yellow;
	text-align: center;
}

.skills {
	padding: 10px;
	background-image: url("../imgs/bg_imgs/bg17.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.experience {
	padding: 30px;
	background-image: url("../imgs/bg_imgs/bg12.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.contact {
	padding: 30px;
	background-image: url("../imgs/bg_imgs/bg5.jpg");
	background-repeat: repeat;	
	width: 1600px;
	height: 800px;
}
.contact p{
	font-size: 20px;	
}

.item-list {
	background-color: #ffffff;
	width: 1350px;
	height: 1100px;
	margin: 10px;
}

.item {
	box-sizeing: border-boxing;
	margin: 10px;
	border: 2px solid black;
	height: 300px;
	width: 200px;
	padding: 20px;
	background-color: #ff8040;
}
.item-amount {
	width: 40px;
}
.row {
	
}


.tab {
	margin: 10px 0 0 10px;
}
.catelog.box {
	box-sizing: border-boxing;
	margin: 10px 0px 0px 0px;
	width: 100px;
	height: 900px;
	background-color: #8080ff;
	
}
.pull-left {
	float: left;
}
em.categories{
	color: #ffffff;
	font-size: 150%;
	margin: 50px 5px 50px 5px;
}
	
.nonDraggableImage{
    -webkit-user-drag: none;
}

.footer-main {
	text-align: center;
	color: green;
	font-size: 30px;
}
.side.float.toTop {
	position: absolute;
	right: 10px;
	bottom: 10px;
	box-sizing: border-boxing;
	margin: 2px;
	border: 1px solid black;
	width: 50px;
	height: 40px;
	backgrouand-color: #9090ff;
	
}


